/* .carouselslide slide{
    margin: 0px auto;
    width: 500px;
    height: 500px;;
    text-align: center;
    background-color: red;
}
#carousel-indicators{
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slide{
    position: absolute;
    left: opx;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.active{
    opacity: 1;
    z-index: 2;
}
.slide{
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
} */
html, body{
  height: 100%
}

body{
  background-image: url('https://ae01.alicdn.com/kf/HTB1AXricHwrBKNjSZPcq6xpapXax/Vinyl-Photography-Backdrops-Super-Heroes-Comics-Superman-Captain-Photo-Backgrounds-Photography-Studio-Backdrops-G-152.jpg_640x640.jpg');
  background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  /* background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;  */
  /* min-height: 100%;
  min-width: 1024px; */
    
  /* Set up proportionate scaling */
  /* width: 100%; */
  /* height: 100%; */
    
  /* Set up positioning */
  /* position: fixed; */
  /* top: 0;
  left: 0; */

}

div, body{
  margin: 0;
  padding:0;
}
.flex-container {
  display: flex;
  flex:100%;
  flex-direction: row;
 /* flex-wrap: wrap; */
  background-color: transparent;
  /* height: 820px;
 width: 700px; */
  justify-content: center;
  /* margin-top:40px; 
  margin-bottom: 40px;
  margin-left: 500px;  */
  /* align-items: center;
  justify-content: center;
 align-content: center; */
  box-shadow: 20px 20px;
}
.cover{
  /* background-image: url(); */
  width: 700px;
  height: 820px;
  background-size: 100%;
  display: flex;
  float: left;
  align-content: left;
  position: absolute; 
  transform: rotateY(0deg);
  /* background-color: blue; */
  transform-style: preserve-3d;
  transform-origin: left;
  transition: all .5s ease-in;
}

.cover1{
  /* background-image: url(); */
  
  background-size: 100%;
  width: 700px;
  height: 820px;
  float: right;
  transform: rotateY(0deg);
  /* background-color: black; */
  transform-style: preserve-3d;
  transform-origin: left;
  transition: all .5s ease-in;
}

.page1{
  width: 700px;
  height: 820px;
  justify-content:center;
  flex-wrap: wrap;
  flex: 100%;
  margin-top: 40px;
  padding: 2em;
 /* color: white; */
  background-color: white;
 /* position: flex; */
  top: 0;
  bottom: 0;
  z-index: -1;
}

#info{
  background-image: url("https://previews.123rf.com/images/azaman357/azaman3571702/azaman357170200022/71471458-classic-comic-book-versus-background-two-heroes-battle-action-intro-clean-vintage-style.jpg");
  display: flex;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.title{
  font-family: 'Permanent Marker', cursive;
  
}  

.textShadow {
  text-shadow: 4px 4px black;
}

.boxShadow {
  width: 100%;
  border: 1px solid black;
  /* border-style: inset; */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
  

#information{
  width: 600px;
  height: 820px;
  opacity: 0.9;
  padding: 8px;
  /* background-size: 100%; */
  /* display: flex; */
  /* float: left;
  align-content: left; */
  /* position: absolute;  */
}
.white{
    color: white;
}

#information2{
  width: 600px;
  height: 820px;
  opacity: 0.9;
  padding: 8px;
}

#search-button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #search-button2{
      background-color: red;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    #carouselExampleIndicators{
      background-image: url('MoviebackDrop.jpg');
      height: 600px;
      width: 50%;
      background-position: center;
      border-style: double;
      border-width: 5px;
      border-color: blue;
      
 
    }
    #carouselExampleIndicators2{
      background-image: url('MoviebackDrop.jpg');
      height: 600px;
      width: 50%;
      background-position: center;
      border-style: double;
      border-width: 5px;
      border-color: blue;
 
    }
    .carousel-control-prev{
      background-color: black;
    }
 
    .carousel-control-next{
      background-color: black;
    }